{% extends 'music/base.html' %}

{% block body %}

<img src="{{album.album_logo}}" width="320">

<h1>{{album.album_title}}</h1>
<h3>{{album.artist}}</h3>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}

    {% for song in album.song_set.all %}
    <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
    <label for="song{{ forloop.counter }}">
        {{ song }}
        {% if song.is_favorite %}
        <img width="15" src="https://cdn4.iconfinder.com/data/icons/pretty_office_3/256/Star-Full.png">
        {% endif %}
    </label><br>
    {% endfor %}
    <input type="submit" value="Favorite">
</form>


{% endblock %}